.error {
  color: var(--color-danger);
  font-size: 13px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.clickable {
  display: flex;
  gap: 16px;
  align-items: center;
  flex: 1;
  cursor: pointer;
}

.caption {
  margin: 0;
}

.actions {
  display: flex;
  gap: 8px;
}
